networks:
  dspacenet:

services:
  dspace-angular:
    container_name: dspace-angular
    environment:
      DSPACE_UI_SSL: 'false'
      DSPACE_UI_HOST: dspace-angular
      DSPACE_UI_PORT: '4000'
      DSPACE_UI_NAMESPACE: /

      DSPACE_REST_SSL: 'false'
      DSPACE_REST_HOST: dspace
      DSPACE_REST_PORT: 8080
      DSPACE_REST_NAMESPACE: /server

    build:
      context: .
      dockerfile: Dockerfile

    image: dspace-angular:latest
    networks:
      - dspacenet

    ports:
      - "4000:4000"
      - "9876:9876"

    stdin_open: true
    tty: true
