version: "3.9"

services:
  dspacedb:
    container_name: dspacedb
    image: dspace/dspace-postgres-pgcrypto:dspace-9_x
    environment:
      PGDATA: /pgdata
      POSTGRES_PASSWORD: dspace
      POSTGRES_USER: dspace
      POSTGRES_DB: dspace
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/pgdata
    networks:
      - dspacenet
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U dspace -d dspace"]
      interval: 10s
      timeout: 5s
      retries: 5

  dspacesolr:
    container_name: dspacesolr
    image: dspace/dspace-solr:dspace-9_x
    ports:
      - "8983:8983"
    networks:
      - dspacenet
    volumes:
      - solr_data:/var/solr/data
    user: root
    entrypoint:
      - /bin/bash
      - '-c'
      - |
        init-var-solr
        precreate-core authority /opt/solr/server/solr/configsets/authority
        cp -r /opt/solr/server/solr/configsets/authority/* authority
        precreate-core oai /opt/solr/server/solr/configsets/oai
        cp -r /opt/solr/server/solr/configsets/oai/* oai
        precreate-core search /opt/solr/server/solr/configsets/search
        cp -r /opt/solr/server/solr/configsets/search/* search
        precreate-core statistics /opt/solr/server/solr/configsets/statistics
        cp -r /opt/solr/server/solr/configsets/statistics/* statistics
        precreate-core qaevent /opt/solr/server/solr/configsets/qaevent
        cp -r /opt/solr/server/solr/configsets/qaevent/* qaevent
        precreate-core suggestion /opt/solr/server/solr/configsets/suggestion
        cp -r /opt/solr/server/solr/configsets/suggestion/* suggestion
        chown -R solr:solr /var/solr
        runuser -u solr -- solr-foreground

  dspace:
    container_name: dspace
    image: dspace/dspace:dspace-9_x
    depends_on:
      dspacedb:
        condition: service_healthy
    environment:
      dspace__P__dir: /dspace
      dspace__P__server__P__url: http://api.elibrary.dimtmw.com
      dspace__P__ui__P__url: http://elibrary.dimtmw.com
      dspace__P__name: 'DIMT eLibrary'
      db__P__url: 'jdbc:postgresql://dspacedb:5432/dspace'
      db__P__username: 'dspace'
      db__P__password: 'dspace'
      solr__P__server: http://dspacesolr:8983/solr
      proxies__P__trusted__P__ipranges: '172.23.0'
      mail__P__server: smtp.hostinger.com
      mail__P__from__P__address: domasi@dimtmw.com
      mail__P__from__P__name: "DSpace DIMT eLibrary"
      mail__P__admin: domasi@dimtmw.com
      mail__P__server__P__username: domasi@dimtmw.com
      mail__P__server__P__password: dom@DIMT@2021
      mail__P__server__P__port: 465
      mail__P__extraproperties: "mail.smtp.ssl.enable=true, mail.smtp.ssl.protocols=TLSv1.2"
    ports:
      - "8080:8080"
    networks:
      - dspacenet
    volumes:
      - assetstore:/dspace/assetstore
    entrypoint:
      - /bin/bash
      - '-c'
      - |
        while (!</dev/tcp/dspacedb/5432) > /dev/null 2>&1; do sleep 1; done;
        /dspace/bin/dspace database migrate
        java -jar /dspace/webapps/server-boot.jar --dspace.dir=/dspace

  dspace-angular:
    container_name: dspace-angular
    image: chenanii/dspace-angular:latest
    depends_on:
      - dspace
    networks:
      - dspacenet
    ports:
      - "4100:80"   # VPS will reverse-proxy this port with host nginx
    restart: unless-stopped


networks:
  dspacenet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.23.0.0/16

volumes:
  assetstore:
  pgdata:
  solr_data:
